<mat-card>

  <form [formGroup]="registrationForm" (ngSubmit)="doRegister()">

    <mat-form-field class="full-width">
      <input matInput formControlName="firstName" placeholder="First name" type="text">
      <mat-error *ngIf="registrationForm.get('firstName').hasError('required')">
        Please specify your first name
      </mat-error>
      <mat-error *ngIf="registrationForm.get('firstName').hasError('minlength')">
        At least three characters
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput formControlName="lastName" placeholder="Last name" type="text">
      <mat-error *ngIf="registrationForm.get('lastName').hasError('required')">
        Please specify your last name
      </mat-error>
      <mat-error *ngIf="registrationForm.get('lastName').hasError('minlength')">
        At least three characters
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput formControlName="login" placeholder="User name" type="text">
      <mat-error *ngIf="registrationForm.get('login').hasError('required')">
        Please specify your login
      </mat-error>
      <mat-error *ngIf="registrationForm.get('login').hasError('minlength')">
        At least three characters
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput formControlName="password" placeholder="Password" type="password">
      <mat-error *ngIf="registrationForm.get('password').hasError('required')">
        Please specify your password
      </mat-error>
      <mat-error *ngIf="registrationForm.get('password').hasError('minlength')">
        At least three characters
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput formControlName="passwordConfirm" placeholder="Confirm Password" type="password">
      <mat-error *ngIf="registrationForm.get('passwordConfirm').hasError('required')">
        Please confirm the password
      </mat-error>
      <mat-error *ngIf="registrationForm.get('passwordConfirm').hasError('minlength')">
        At least three characters
      </mat-error>
      <mat-error *ngIf="registrationForm.get('passwordConfirm').hasError('validatePassword')">
        Please confirm the password
      </mat-error>
    </mat-form-field>

    <button [disabled]="!registrationForm.valid" mat-raised-button>Register</button>

  </form>
</mat-card>
