<mat-card>

  <form #registrationForm="ngForm" (ngSubmit)="doRegister(registrationForm)">

    <mat-form-field class="full-width">
      <input matInput [formControl]="firstNameFormControl" placeholder="First name" type="text" name="firstName"
             [(ngModel)]="firstName">
      <mat-error *ngIf="firstNameFormControl.hasError('required')">
        Please specify your first name
      </mat-error>
      <mat-error *ngIf="firstNameFormControl.hasError('minLength')">
        At least three characters
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput [formControl]="lastNameFormControl" placeholder="Last name" type="text" name="lastName"
             [(ngModel)]="lastName">
      <mat-error *ngIf="lastNameFormControl.hasError('required')">
        Please specify your last name
      </mat-error>
      <mat-error *ngIf="lastNameFormControl.hasError('minLength')">
        At least three characters
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput [formControl]="loginFormControl" placeholder="User name" type="text" name="login"
             [(ngModel)]="login">
      <mat-error *ngIf="loginFormControl.hasError('required')">
        Please specify your login
      </mat-error>
      <mat-error *ngIf="loginFormControl.hasError('minLength')">
        At least three characters
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput [formControl]="passwordFormControl" placeholder="Password" type="password" name="password"
             [(ngModel)]="password">
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Please specify your password
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('minLength')">
        At least three characters
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput [formControl]="confirmPasswordFormControl" placeholder="Confirm Password" type="password"
             name="passwordConfirm" [(ngModel)]="passwordConfirmation">
      <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
        Please confirm the password
      </mat-error>
      <mat-error *ngIf="confirmPasswordFormControl.hasError('minLength')">
        At least three characters
      </mat-error>
    </mat-form-field>

    <button [disabled]="registrationForm.form.invalid" mat-raised-button>Register</button>

  </form>
</mat-card>
